{% extends 'base.html' %}
{% block content %}
<body>
    <style>
        label {
            color: white
        }
    </style>
<div class="content" style="padding: 100px 0px 10px 0px;">
    <form method="post" class="formStyle">
        {% csrf_token %}
        {{ form.as_p }}
        {% if updated == "yes" %}
        <h5 style="color: #0BB5FF">Your password is successfully updated.</h5>
        {% endif %}
        <br><br>
    <button type="submit" class="button" style="margin-left: 0px;">Save changes</button>
</form>
    <a href="{{ request.META.HTTP_REFERER }}"><button class="button" style="margin-left: 0px;"><span>Back to panel</span></button></a>
</div>
</body>
{% endblock %}













