{% extends 'base.html' %}
{% block content %}
    <style>
        .content {
            max-width: 500px;
            margin: auto;
    </style>
        {% if num == "no" %}
        <h1 style = "color: red; margin: 45px 0px 0px 50px;">Invalid input.. Enter numbers only.</h1>>
<br><br>
        <a href="/sizeMoneyCalculation/" style="margin: 45px 0px 0px 50px;"><button class="button"><span>Back</span></button></a>
{% else %}
<div class="content" style="padding: 20px 0px 100px 0px;">
    <br><br>
    <h1 style = "color:white;">Your Calculated Amount</h1><br>
    <h3 style="color:white;">{{size}} Sq. feet = {{result}} BDT</h3>
    <br><br>
        <a href="/sizeMoneyCalculation/"><button class="button"><span>Back</span></button></a>
</div>
{% endif %}
{% endblock %}
