<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<body>
    <style>
        .content {
            max-width: 300px;
            margin: auto;
    </style>
    <div class="content">
        <br><br><br>
<h1 style="color:white; width: 400px; padding: 0px 0px 30px 0px;">Customer Panel</h1>
        <br><br><br>
<!--        <a href="/"><button class="button" style="width: 155px; margin-top : 120px; margin-left: 70px; font-size: 18px;"><span>Back</span></button></a>-->
    </div>
</body>
{% endblock %}