<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<body>
    <div class="content">
        <br>
        {% if msg == "You are an advertiser!" %}
        <br>
        <h1 style="color: red;">Advertisers are not allowed to confirm any post.</h1>
        <br>
        {% endif %}

        {% if msg == "You are city corporation!" %}
        <br>
        <h1 style="color: red;">You are not allowed to confirm any post.</h1>
        <br>
        {% endif %}

        {% if msg == "There was an error" %}
        <br>
        <h1 style="color: red;">You can not confirm any post / You do not have an account.</h1>
        <br>
        {% endif %}

        {% if posted == "yes" %}
        <br>
        <h2 style="color: lime;"><b>Confirmed successfully</b></h2>
        <br>
        {% endif %}
<form method="POST" enctype="multipart/form-data" class="formStyle">
    {% csrf_token %}
    <table>
        {{form_of_post.as_table}}
        <tr>
            <td colspan="2">
<!--                <input type='Submit' value="Post Advertise" />-->
                <br>
                <button type="submit" class="button"><span>Confirm Advertise</span></button>
            </td>
        </tr>
    </table>
</form>
        <a href="/viewPost/"><button class="button"><span>Back</span></button></a>
<!--        {% if profile.is_customer == True %}-->
<!--            <a href="/customerPanel/"><button class="button"><span>Back</span></button></a>-->
<!--        {% elif profile.is_advertiser == True %}-->
<!--            <a href="/advertiserPanel/"><button class="button"><span>Back</span></button></a>-->
<!--        {% elif profile.is_cityCor == True %}-->
<!--            <a href="/cityCorporationPanel/"><button class="button"><span>Back</span></button></a>-->
<!--        {% elif user.is_staff == True %}-->
<!--            <a href="/staffPanel/"><button class="button"><span>Back</span></button></a>-->
<!--        {% endif %}-->
    </div>
    </body>
{% endblock %}
