<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<body>
    <div class="content">
        <br>
<form method="POST" enctype="multipart/form-data" class="formStyle">
    {% csrf_token %}
    <table>
        {{form_of_post.as_table}}
        <tr>
            <td colspan="2">
<!--                <input type='Submit' value="Post Advertise" />-->
                <button type="submit" class="button"><span>Post Advertise</span></button>
            </td>
        </tr>
    </table>
</form>
        <a href="/advertiserPanel/"><button class="button"><span>Back</span></button></a>
    </div>
    </body>
{% endblock %}