
  <!DOCTYPE html>
  <html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>POst Advertisement</title>
    <style>
    form{
        margin-left: 200px;
        margin-right: 200px;
    }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-item nav-link" href="{% url 'user_login'%}">LogIn</a>
        <a class="nav-item nav-link" href="{% url 'register_customer'%}">Register</a>

      </div>
    </div>
  </nav>

    <div class="alert alert-primary" role="alert">
        <h1 style="text-align: center;">Post Advertisement   </h1>
    </div>
    <form action="register" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" >
        </div>
        <div class="form-group">
            <label>Specific Location</label>
            <input type="text" class="form-control"  name="location" >
        </div>
        <div class="form-group">
            <label>Billboard size</label>
            <input type="float" class="form-control"  name="bill_size" >
        </div>
       <div class="form-group">
            <label>Price</label>
            <input type="float" class="form-control"  name="price" >
        </div>
        <div class="form-group">
            <label>Short description</label>
            <input type="text" class="form-control"  name="desc" >
        </div>
        <button type="post" class="btn btn-primary">Post</button>
      </form>
      {% for message in messages %}
         <h2>{{ message}}</h2>
      {%endfor%}
      <!-- {{form}} -->
</body>
</html>