{% extends 'base.html' %}

{% block content %}
<style>
        .content {
            max-width: 1000px;
            margin: auto;
    </style>
<div class = "content">
    <br><br>
    <h1 style = "color:white;">Calculate Your Amount</h1>
    <br><br>
    <form action="conv" class = "formStyle">
    <h4>Enter Price For Per Inches (BDT): <input type="text" name="num1" placeholder="enter money"></h4>
        <br><br>
    <h4>Enter Size (in inchs): <input type="text" name="num2" placeholder="enter size"></h4>
        <br><br>
    <button class="button" style="float:middle;"><span>Calculate</span></button><br><br>
</form>
<a href="/features/"><button class="button" style="color: darkred;"><span>Go Back</span></button></a>
</div>>

{% endblock %}