{% extends 'base.html' %}

{% block content %}
<h1>Calculate Your Amount</h1>
<form action="conv">
    <h4>Enter Price For Per Inches (BDT): <input type="text" name="num1" placeholder="enter money"></h4>
    <h4>Enter Size (in inchs): <input type="text" name="num2" placeholder="enter size"></h4>
    <button class="button" style="float:middle;"><span>Calculate</span></button>
</form>
<a href="/features/"><button class="button" style="color: darkred;"><span>Go Back</span></button></a>
{% endblock %}