<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<body>
    <style>
        .content {
            max-width: 300px;
            margin: auto;
    </style>
    <div class="content">
        <br><br><br>
<h1 style="color:white; width: 400px; padding: 0px 0px 30px 50px;">Staff Panel</h1>
        <br><br>
        <a href="/current_price_update/"><button class="button"><span>Update Price</span></button></a>
        <br><br>
        <a href="/viewPost/"><button class="button"><span>View advertisements</span></button></a>
        <br><br>
        <a href="/view_profile/"><button class="button"><span>View my profile</span></button></a>
    </div>
</body>
{% endblock %}