<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<body>
    <div class="content">
    <br>
    {% if isuser == "not_user" %}
        <h1 style="color: red">Incorrect username or password.</h1>
        <div style="white-space:nowrap"><h4 style="color: white">Don't have an account? Register here now!
            <a href="/sign_in_options/"><button class="btn btn-primary" style="width: 11%; padding: 6px;"><span>Register</span></button></a></h4>
        </div>
    {% endif %}
        {% if isuser == "staff_user" %}
        <h1 style="color: red">Staff type user cannot login here.</h1>
        {% endif %}
<!--    {% if isuser == "wrong_pass" %}-->
<!--        <br><br>-->
<!--        <h1 style="color: red">Incorrect password.</h1>-->
<!--        <div style="white-space:nowrap"><h5 style="color: white">Forgot password? Reset here-->
<!--        <a href="/sign_in_options/"><button class="button" style="width: 25%;  padding: 6px;"><span>Reset</span></button></a></h5>-->
<!--        </div>-->
<!--        {% endif %}-->
    <br><br>
    <h1 style="color: white;">Login here</h1>
    <br>
    <form action="{% url 'user_login' %}" method="post" class="formStyle">
        {% csrf_token %}
        <label for="username" style="color:white;">Username:</label>
        <input type="text" name="username" id="username" placeholder="username" required>
        <br><br>
         <label for="password" style="color:white;">Password:</label>
        <input type="password" name="password" id="password" placeholder="password" required>
        <br><br><br>
        <button class="button"><span>Login</span></button>
    </form>
    <a href="/"><button class="button"><span>Back</span></button></a>
</div>
</body>
{% endblock %}