<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<body>
    <div class="content">
    {% if isuser == "b" %}
    <div style="white-space:nowrap"><h1 style="color: red">You are not registered. Register here first.
        <a href="register/"><button class="button" style="width: 25%;  padding: 4px;"><span>Register</span></button></a></h1>
    </div>
    {% endif %}
        <br><br>
    <h1 style="color: white;">Login here</h1>
    <br>
    <form action="{% url 'user_login' %}" method="post" class="formStyle">
        {% csrf_token %}
        <label for="username" style="color:white;">Username:</label>
        <input type="text" name="username" placeholder="enter username"/>
        <br><br>
         <label for="password" style="color:white;">Password:</label>
        <input type="password" name="password" placeholder="enter password"/>
        <br><br>
        <button class="button"><span>Login</span></button>
    </form>
    <a href="/"><button class="button"><span>Back</span></button></a>
</div>
</body>
{% endblock %}