{% extends "newBase.html" %}
{% block content %}
{% load static %}
<body style="position:relative; z-index:2;">
<div class="container">
    {% if profile %}
    <br><br>
    <div class="row">
        <div class="col-12">
            <div class="card2" style="background-color: whitesmoke;">

                <div class="card-header text-white" style="background-color: darkorange;">
            <h4 class="card-title">Profile information</h4>
        </div>

<style>
  img {
  opacity: 1.0;
}
  img:hover {
  opacity: 0.9;
}
</style>
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <a href="#" onClick="return false;"><img src="{{ profile.profile_picture.url }}" id="imgProfile"
                                     alt="You do not have any profile picture" onclick="enlargeImg()" style="width: 300px; height: 300px" class="img-thumbnail"/></a>
        <script>
          img = document.getElementById("imgProfile");

          function enlargeImg() {
              img.style.transform = "scale(1.3)";
              img.style.transition = "transform 0.25s ease";
          }
          function resetImg() {
              img.style.transform = "scale(1)";
              img.style.transition = "transform 0.25s ease";
          }
        </script>
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">&nbsp;{{user.first_name}} {{user.last_name}}</h2>
                                {% if profile.is_customer == True %}
                                    <h6 class="d-block">&nbsp;Customer</h6>
                                {% elif profile.is_advertiser == True %}
                                    <h6 class="d-block">&nbsp;Advertiser</h6>
                                {% elif profile.is_cityCor == True %}
                                    <h6 class="d-block">&nbsp;City corporation</h6>
                                {% endif %}
                                <br>
                                &nbsp;<a href="/update_profile/" class="btn btn-primary">Update Profile</a>
                                <button class="btn btn-primary" onclick="resetImg()">Reset</button>
                                <a href="{{ request.META.HTTP_REFERER }}">
                                <button class="btn btn-primary"><span>Back</span></button>
                                </a>
                            </div>

                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                            <label style="font-weight:bold;">&nbsp;Username</label>
                        </div>
                        <div class="col-md-8 col-6">
                            &nbsp;{{user.username}}
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                            <label style="font-weight:bold;">&nbsp;First name</label>
                        </div>
                        <div class="col-md-8 col-6">
                            &nbsp;{{user.first_name}}
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                            <label style="font-weight:bold;">&nbsp;Last name</label>
                        </div>
                        <div class="col-md-8 col-6">
                            &nbsp;{{user.last_name}}
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                            <label style="font-weight:bold;">&nbsp;Email address</label>
                        </div>
                        <div class="col-md-8 col-6">
                            &nbsp;{{user.email}}
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                            <label style="font-weight:bold;">&nbsp;Mobile No.</label>
                        </div>
                        <div class="col-md-8 col-6">
                            &nbsp;{{profile.mobileNo}}
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                            <label style="font-weight:bold;">&nbsp;Location</label>
                        </div>
                        <div class="col-md-8 col-6">
                            &nbsp;{{profile.location}}
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-3 col-md-2 col-5">
                            <label style="font-weight:bold;"> &nbsp;Account created on</label>
                        </div>
                        <div class="col-md-8 col-6">
                            &nbsp;{{profile.currentdate}}
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="content">
    <br>
    <h1 style="color: red">No data found!</h1>
    <!--        <h1 style="color: red">Please login first.</h1>-->
    <!--        <div style="white-space:nowrap"><h2>Login here-->
    <!--        <a href="/user_login/"><button class="button" style="width: 25%;  padding: 6px;"><span>Login</span></button></a></h2>-->
</div>
{% endif %}
</body>
{%endblock%}






















