<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<body>
<style type="text/css">
        .content {
            margin: auto;
        }
        .hidden {
            display: none;
        {
        .visible {
            display: block;
        }
</style>
<br><br><br>
<div class="content" style="max-width: 1000px;">
    <h1 style="color:white; padding: 0px 0px 20px 0px; text-align: center;">Click to Choose an Option</h1>
</div>
<div class="content" style="max-width: 300px;">
    <br><br>
    <button onclick="hideFunction()" class="button3 dropdown-toggle">View Records<span class="caret" style="margin-left: 15px;"></span></button>
    <script type="text/javascript">
            function hideFunction() {
                var x = document.getElementById("options");
                if (x.style.display == 'block') {
                    x.style.display = 'none';
                } else {
                    x.style.display = 'block';
                }
            }
    </script>
    <div class="hidden" id="options">
        <style>
                .button2 { background-color: #080808; }
        </style>
        <a href="/viewCurrentDealRecords/">
            <button class="button2" style="width: 90%; margin: 1px 10px 5px 10px; padding: 4px;">
                <span>Current Deals</span></button>
        </a>
        <a href="/viewAdveriserRecords/">
            <button class="button2" style="width: 90%; margin: 2px 10px 5px 10px; padding: 4px;">
                <span>Advertisers</span></button>
        </a>
        <a href="/viewCustomerRecords/">
            <button class="button2" style="width: 90%; margin: 2px 10px 5px 10px; padding: 4px;"><span>Customers</span>
            </button>
        </a>
    </div>
    <a href="/cityCorporationPanel/"><button class="button" style="width: 155px; margin-top : 130px; margin-left: 70px; font-size: 18px;"><span>Back</span></button></a>
</div>
</body>
{% endblock %}