{% extends 'newBase.html' %}
{% block content %}
<div class="container">
    <body>
    <style>
    table, th, td {
        border: 1px solid black;
    }
    th {
        padding: 15px;
        text-align: center;
        color: white;
        background-color: black;
    }
    td {
        padding: 15px;
        text-align: center;
        background-color: whitesmoke;
    }
    #tb {
        width: 100%;
        background-color: #B0E0E6;
    }

    </style>
    <br><br>
    <h2 style="color: #000080;">All Advertiser's Records</h2>
    <br>
    <table id="tb" style="font-size:130%">
        <tr>
            <th>Advertiser Name</th>
            <th>Total Posted</th>
        </tr>
        {% for a in allPosts %}
        <tr>
            <td>{{a.author}}</td>
            <td>{{a.author.adPoster.count}}</td>
        </tr>
        {% endfor %}
    </table>
    </body>
</div>
{% endblock %}