<!DOCTYPE html>
{% extends 'newBase2.html' %}
{% block content %}
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
h4 {text-align: center;}
p {text-align: center;}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #000000;
  color: white;
}
</style>
</head>
<body>

<div class="about-section">
  <h1>About The Project</h1><br>
  <p>This is a billboard advertisement system of Bangladesh.</p>
  <p>Our mission is to provide an efficient system where dealers and customers can make deals very easily.</p><br><br>
   <img src="/static/assets/image/about.gif" alt="Image" width="500" height="300"><br><br><br><br>
  <p>The billboard advertisement system of our country has been done manually. Sometimes it is difficult for advertisers to find a proper customer for their</p>
  <p>advertisements. Customers also find it difficult to find billboards for their advertisements. By using this application, they can find all the services in one</p>
  <p>place. This application can turn the whole country’s billboard advertisement system into a well-planned system. City corporations can monitor all the</p>
  <p>activities. Everyone can view which billboards are currently empty and which billboards are sold to a customer and the deal duration also.</p>
</div>

</body>
</html>
{% endblock %}
