{% extends 'base.html' %}
{% block content %}
<body>
    <style>
        label {
            color: whitesmoke
        }
        form label {font-weight:bold}
    </style>
<div class="content" style="padding: 50px 0px 10px 0px;">
    <h1 style="color: white;">Password change</h1>
    <br><br>
    <form method="post" class="formStyle">
        {% csrf_token %}
        {{ form.as_p }}
        {% if updated == "yes" %}
        <h5 style="color: #0BB5FF">Your password is successfully updated.</h5>
        {% endif %}
        <br>
    <button type="submit" class="button" style="margin-left: 0px;"><span>Save changes</span></button>
</form>
    <a href="{{ request.META.HTTP_REFERER }}"><button class="button" style="margin-left: 0px;"><span>Back to panel</span></button></a>
</div>
</body>
{% endblock %}













