<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<body>
    <div class="content">
        <br>
        {% if msg == "You are an advertiser!" %}
        <br>
        <h1 style="color: red;">Advertisers are not allowed to confirm any post.</h1>
        {% endif %}

        {% if msg == "You are city corporation!" %}
        <br>
        <h1 style="color: red;">You are not allowed to confirm any post.</h1>
        {% endif %}

        {% if msg == "There was an error" %}
        <br>
        <h1 style="color: red;">You can not confirm any post / You do not have an account.</h1>
        {% endif %}

<!--        {% if already_sold %}-->
<!--        <br>-->
<!--        <h1 style="color: red">Billboard with code '{{ adCode }}' is already sold!</h1>-->
<!--        {% endif %}-->

        {% if msg == "Does not exist!" %}
        <br>
        <h1 style="color: red">Billboard with code '{{ adCode }}' does not exist!</h1>
        {% endif %}

        {% if confirmed == "yes" %}
        <br>
        <h2 style="color: lime;"><b>Confirmed successfully</b></h2>
        {% endif %}
        <br>
        <h1 style="color: white;">Confirm Deal</h1>
    <br>
<form method="POST" enctype="multipart/form-data" class="formStyle">
    {% csrf_token %}
    {{form_of_post.as_p}}
<!--                <input type='Submit' value="Post Advertise" />-->
    <br>
    <button type="submit" class="button"><span>Confirm Advertise</span></button>
</form>
        <a href="/viewPost/"><button class="button"><span>Back</span></button></a>
<!--        {% if profile.is_customer == True %}-->
<!--            <a href="/customerPanel/"><button class="button"><span>Back</span></button></a>-->
<!--        {% elif profile.is_advertiser == True %}-->
<!--            <a href="/advertiserPanel/"><button class="button"><span>Back</span></button></a>-->
<!--        {% elif profile.is_cityCor == True %}-->
<!--            <a href="/cityCorporationPanel/"><button class="button"><span>Back</span></button></a>-->
<!--        {% elif user.is_staff == True %}-->
<!--            <a href="/staffPanel/"><button class="button"><span>Back</span></button></a>-->
<!--        {% endif %}-->
    </div>
    </body>
{% endblock %}
