<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<body>
    <style type="text/css">
        .content {
            margin: auto;
        }
        .hidden {
            display: none;
        {
        .visible {
            display: block;
        }
    </style>
    <br><br><br>
        <div class="content" style="max-width: 1000px;">
            <h1 style="color:white; padding: 0px 0px 20px 0px; text-align: center;">Create Account As</h1>
        </div>
    <div class="content" style="max-width: 300px;">
        <br><br>
        <button onclick="hideFunction()" class="button3 dropdown-toggle">Choose Options<span class="caret" style="margin-left: 15px;"></span></button>
        <script type="text/javascript">
            function hideFunction() {
                var x = document.getElementById("options");
                if (x.style.display == 'block') {
                    x.style.display = 'none';
                } else {
                    x.style.display = 'block';
                }
            }
        </script>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="hidden" id="options">
            <style>
                .button2 { background-color: #080808; }
            </style>
            <button type="submit" name="Customer" class="button2" style="margin-top: 1px"><span>Customer</span></button>
            <button type="submit" name="Advertiser" class="button2" style="margin-top: 2px"><span>Advertiser</span></button>
        </div>
    </form>
        <a href="/"><button class="button" style="width: 155px; margin-top : 130px; margin-left: 70px; font-size: 18px;"><span>Back</span></button></a>
    </div>
</body>
{% endblock %}