{% extends 'newBase.html' %}
{% block content %}
<div class="container">
    <body>
    <style>
    table, th, td {
        border: 1px solid dimgray;
    }
    th {
        padding: 15px;
        text-align: center;
        color: white;
        background-color: black;
    }
    td {
        padding: 15px;
        text-align: center;
        background-color: whitesmoke;
    }
    #tb {
        width: 100%;
        background-color: #B0E0E6;
    }

    </style>
    <br><br>
    <h2 style="color: #000080;">List of Advertisers</h2>
    <br>
    <table id="tb" style="font-size:130%">
        <tr>
            <th>Advertiser Name</th>
            <th>Username</th>
            <th>Email Address</th>
            <th>Mobile No.</th>
            <th>Date of Account Creation</th>
            <th>Profile Picture</th>
        </tr>
        {% for a in allPosts %}
        <tr>
            <td>{{a.user.first_name}} {{a.user.last_name}}</td>
            <td>{{a.user}}</td>
            <td>{{a.user.email}}</td>
            <td>{{a.mobileNo}}</td>
            <td>{{a.currentdate}}</td>
            <td style="padding: 15px 10px 15px 10px;"><img src="{{ a.image_url }}" alt="profile picture" style="max-height:140px">
        </tr>
        {% endfor %}
    </table>
    </body>
</div>
{% endblock %}